<div class="px-4 py-6">
  <%= vc_notification do %>
    Something happened that you should know about.
  <% end %>
</div>
<div class="px-4 py-6">
  <%= vc_notification(type: :error) do %>
    Something happened that you should know about.
  <% end %>
</div>
<div class="px-4 py-6">
  <%= vc_notification(type: :success) do %>
    Something happened that you should know about.
  <% end %>
</div>
<div class="px-4 py-6">
  <%= vc_notification(type: :warning) do %>
    Something happened that you should know about.
  <% end %>
</div>
