<div class="px-4 py-6">
  <%= vc_notification(static: true) do %>
    Something happened that you should know about.
  <% end %>
</div>
<div class="px-4 py-6">
  <%= vc_notification(static: true, type: :error) do %>
    Something happened that you should know about.
  <% end %>
</div>
<div class="px-4 py-6">
  <%= vc_notification(static: true, type: :success) do %>
    Something happened that you should know about.
  <% end %>
</div>
<div class="px-4 py-6">
  <%= vc_notification(static: true, type: :warning) do %>
    Something happened that you should know about.
  <% end %>
</div>
