<div class="py-6 px-4 text-sm font-medium">
  <% [:primary, :secondary, :confirm, :danger].each do |type| %>
    <div>
      <%= vc_link text: 'Hello', url: '/', type: type %>
    </div>
  <% end %>
  <% [:primary, :secondary, :confirm, :danger].each do |type| %>
    <div>
      <%= vc_link url: '/', type: type, html: { class: 'inline-flex gap-x-1.5 items-center' } do %>
        <%= vc_icon icon: 'document', source: :heroicon, variant: :mini, classes: '-mr-0.5' %>
        <span>Invoice</span>
      <% end %>
    </div>
  <% end %>
  <% [:primary, :secondary, :confirm, :danger].each do |type| %>
    <div>
      <%= vc_link url: '/', type: type, html: { class: 'inline-flex gap-x-1.5 items-center' } do %>
        <%= vc_icon icon: 'facebook', source: :font_awesome, variant: :brand, size: 'w-4 h-4', classes: '-mr-0.5' %>
        <span>Invoice</span>
        <%= vc_icon icon: 'times', source: :font_awesome, size: 'w-4 h-4', classes: '-ml-0.5' %>
      <% end %>
    </div>
  <% end %>
</div>
