<% if url %>
  <%= button_to url, method: method, **html.merge(class: "#{button_base_classes} #{button_size_classes} #{button_status_classes}") do %>
    <%= icon %>
    <%= text %>
  <% end %>
<% else %>
  <%= button_tag **html.merge(class: "#{button_base_classes} #{button_size_classes} #{button_status_classes}") do %>
    <%= icon %>
    <%= text %>
  <% end %>
<% end %>
