<flash-notification data-controller="reveal existence <% if auto_dismiss? %>delay<% end %>" class="w-full max-w-sm overflow-hidden <%= default_classes %> rounded-lg shadow-lg pointer-events-auto"
  <% if auto_dismiss? %>data-delay-seconds-value="<%= auto_dismiss %>"<% end %>
  data-reveal-target-selector-value="[data-notification]" data-notification data-transition hidden
  data-action="existence:added->reveal#show reveal:hidden->existence#remove <% if auto_dismiss? %>delay:done->reveal#hide mouseenter->delay#pause mouseleave->delay#resume<% end %>"
  data-transition-enter="transform ease-out duration-300 transition"
  data-transition-enter-start="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2"
  data-transition-enter-end="translate-y-0 opacity-100 sm:translate-x-0"
  data-transition-leave="transition ease-in duration-100"
  data-transition-leave-start="opacity-100"
  data-transition-leave-end="opacity-0">
  <div class="p-4">
    <div class="flex <%= description? ? 'items-start' : 'items-center' %>">
      <% if avatar? %>
        <div class="flex-shrink-0 pt-0.5">
          <%= avatar %>
        </div>
      <% end %>
      <% if icon? %>
        <div class="flex-shrink-0"><%= icon %></div>
      <% end %>
      <div class="flex-1 w-0<% if description? %> pt-0.5 <% end %><% if icon? || avatar? %> ml-3<% end %>">
        <h3 class="text-sm font-medium text-gray-900"><%= heading %></h3>
        <% if description? %>
          <p class="mt-1 text-sm text-gray-500"><%= description %></p>
        <% end %>
        <% if links? %>
          <div class="flex mt-3 space-x-7">
            <% links.each do |link| %>
              <%= link %>
            <% end %>
          </div>
        <% end %>
        <% if buttons? %>
          <div class="flex mt-4 space-x-3">
            <% buttons.each do |button| %>
              <%= button %>
            <% end %>
          </div>
        <% end %>
      </div>
      <% if dismissible? %>
        <div class="flex flex-shrink-0 ml-4">
          <button class="inline-flex text-gray-400 bg-white rounded-md hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" data-action="reveal#hide">
            <span class="sr-only">Close</span>
            <%= render Initforthe::IconComponent.new(icon: 'x-mark', source: :heroicon, variant: :solid) %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</flash-notification>
