<%= tag.div **input_group_options do %>
  <% if show_label %>
    <div class="flex items-end justify-between">
      <%= label if label %>
      <%= f.label(name, label_text.presence, for: id_for(name), class: label_classes) unless label %>
      <% if inline_hint %>
        <span class="mt-2 text-sm text-gray-400"><%= inline_hint %></span>
      <% end %>
    </div>
  <% end %>
  <%= content %>
  <%= helpers.tag.p hint, class: "mt-2 text-sm text-gray-400" if hint %>
  <% if f.object&.errors&.key?(name) %>
    <p class="mt-2 text-sm text-red-600"><%= f.object.errors[name].to_sentence %></p>
  <% end %>
<% end %>
