<div data-modal-container data-controller="<%= controllers %> reveal existence"
  data-action="<%= actions %> existence:added->reveal#show reveal:hidden->existence#remove" <%= tag_options %>>
  <div class="fixed inset-0 z-20 overflow-y-auto" hidden data-reveal data-enter-start data-leave-end>
    <div class="flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 transition-opacity" aria-hidden="true"
        hidden data-reveal data-transition
        data-transition-enter="ease-out duration-300"
        data-transition-enter-start="opacity-0"
        data-transition-enter-end="opacity-100"
        data-transition-leave="ease-in duration-200"
        data-transition-leave-start="opacity-100"
        data-transition-leave-end="opacity-0">
        <div class="absolute inset-0 bg-gray-500 opacity-75" data-action="click->reveal#hide"></div>
      </div>
      <!-- This element is to trick the browser into centering the modal contents. -->
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
      <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left <%= 'overflow-hidden' unless @overflow %> shadow-xl transform transition-all sm:my-8 sm:align-middle <%= size %> w-full sm:p-6" role="dialog" aria-modal="true" aria-labelledby="modal-headline"
        hidden data-reveal data-transition
        data-transition-enter="ease-out duration-300"
        data-transition-enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        data-transition-enter-end="opacity-100 translate-y-0 sm:scale-100"
        data-transition-leave="ease-in duration-200"
        data-transition-leave-start="opacity-100 translate-y-0 sm:scale-100"
        data-transition-leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
        <% if dismissible %>
          <div class="absolute top-0 right-0 block pt-4 pr-4">
            <button type="button" class="rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 <%= close_button_styles %>" data-action="reveal#hide">
              <span class="sr-only">Close</span>
              <%= render Initforthe::IconComponent.new(icon: 'x-mark', source: :heroicon, variant: :solid) %>
            </button>
          </div>
        <% end %>
        <%= content %>
      </div>
    </div>
  </div>
</div>
