<nav class="sticky top-0 z-20 <%= background_color %> shadow-sm" data-controller="reveal" data-reveal-target-selector-value="[data-mobile-nav]">
  <div class="px-4 sm:px-6 lg:px-4">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <% if logo %>
          <div class="flex-shrink-0">
            <%= logo %>
          </div>
        <% end %>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <%= links %>
          </div>
        </div>
      </div>
      <div class="hidden sm:ml-6 sm:block">
        <div class="flex items-center">
          <%= secondary_links %>
          <% if notifications %>
            <button type="button" class="<%= notifications_button_classes %>">
              <span class="sr-only">View notifications</span>
              <%= render Initforthe::IconComponent.new(icon: 'bell', source: :heroicon, variant: :outline) %>
            </button>
          <% end %>
        </div>
      </div>
      <div class="flex -mr-2 sm:hidden">
        <!-- Mobile menu button -->
        <button type="button" class="inline-flex items-center justify-center p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-inset <%= mobile_button_color %>" aria-controls="mobile-menu" aria-expanded="false"
                data-action="reveal#toggle">
          <span class="sr-only">Open main menu</span>
          <span class="block" data-mobile-nav>
            <%= render Initforthe::IconComponent.new(icon: 'bars-3', source: :heroicon, variant: :outline, size: 'w-6 h-6') %>
          </span>
          <span hidden class="block" data-mobile-nav>
            <%= render Initforthe::IconComponent.new(icon: 'x-mark', source: :heroicon, variant: :outline, size: 'w-6 h-6') %>
          </span>
        </button>
      </div>
    </div>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="absolute w-full top-100" hidden data-mobile-nav data-enter-start data-leave-end>
    <div hidden class="<%= mobile_dropdown_color %> sm:hidden" id="mobile-menu" data-mobile-nav
          data-transition
          data-transition-enter="transform transition ease-out duration-100"
          data-transition-enter-start="-translate-y-6 opacity-0"
          data-transition-enter-end="translate-y-0 opacity-100"
          data-transition-leave="transform transition ease-in duration-75"
          data-transition-leave-start="translate-y-0 opacity-100"
          data-transition-leave-end="-translate-y-6 opacity-0">
      <div class="px-2 pt-2 pb-3 space-y-1">
        <%= links %>
      </div>
      <% if mobile_secondary_links %>
        <div class="pt-4 pb-3 border-t <%= mobile_secondary_links_divider_color %>">
          <%= mobile_secondary_links %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
