<div data-controller="<% unless static %>reveal existence <% unless dismissible %> timer<% end %><% end %>" <% unless static %>data-action="existence:added->reveal#show timer:done->reveal#hide reveal:hidden->existence#remove"<% end %>
<% unless dismissible %>data-timer-delay-value="1920"<% end %> class="notification">
<div <% unless static %> hidden<% end %> class="<%= static ? 'rounded-md' : 'rounded-full' %> <%= background_color %> p-4" data-reveal
     data-transition
     data-transition-enter="transform transition duration-200 ease-out"
     data-transition-enter-start="translate-y-4 opacity-0"
     data-transition-enter-end="translate-y-0 opacity-100"
     data-transition-leave="transform transition duration-150 ease-out"
     data-transition-leave-start="translate-y-0 opacity-100"
     data-transition-leave-end="translate-y-4 opacity-0">
  <div class="flex">
    <div class="flex-shrink-0">
      <%= icon %>
    </div>
    <div class="ml-3 space-y-2">
      <%= header %>
      <div class="text-sm <%= text_color %>">
        <% if text %>
          <p class="font-medium"><%= text %></p>
        <% end %>
        <%= message || content %>
        <% if links.any? %>
          <div class="mt-4">
            <div class="-mx-2 -my-1.5 flex">
              <% links.each do |link| %>
                <%= link %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% if dismissible %>
      <div class="pl-3 ml-auto">
        <div class="-mx-1.5 -my-1.5">
          <button class="inline-flex <%= dismissible_colors %> rounded-md p-1.5 focus:outline-none focus:ring-2" data-action="click->reveal#hide">
            <span class="sr-only">Dismiss</span>
            <%= render Initforthe::IconComponent.new(icon: 'x-mark', source: :heroicon, variant: :solid) %>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
