<notification-badge <%= 'hidden' unless visible? %> class="absolute top-0 right-0 flex items-center justify-center min-w-4 px-0.5 h-4 -mr-0.5 text-xs leading-none text-white bg-red-500 rounded-full ring-2 ring-red-300/80" data-notification-badge>
  <%= count %>
</notification-badge>
