<div data-slideover-container data-controller="<%= controllers %> reveal existence"
     data-action="<%= actions %> existence:added->reveal#show reveal:hidden->existence#remove" <%= tag_options %>>
  <div class="fixed inset-0 z-50 overflow-hidden" hidden data-reveal data-enter-start data-leave-end>
    <div class="absolute inset-0 overflow-hidden">
      <% if overlay %>
        <div class="absolute inset-0 transition-opacity bg-gray-500 bg-opacity-75" aria-hidden="true"
            hidden data-reveal data-transition
            data-action="click->reveal#hide"
          data-transition-enter="ease-in-out duration-500"
          data-transition-enter-start="opacity-0"
          data-transition-enter-end="opacity-100"
          data-transition-leave="ease-in-out duration-500"
          data-transition-leave-start="opacity-100"
          data-transition-leave-end="opacity-0"></div>
      <% end %>
      <section class="pointer-events-none absolute inset-y-0 right-0 flex max-w-full pl-10" aria-labelledby="slide-over-heading">
        <div class="w-screen <%= size %>" hidden data-reveal data-transition
             data-transition-enter="transform transition ease-in-out duration-500 sm:duration-700"
             data-transition-enter-start="translate-x-full"
             data-transition-enter-end="translate-x-0"
             data-transition-leave="transform transition ease-in-out duration-500 sm:duration-700"
             data-transition-leave-start="translate-x-0"
             data-transition-leave-end="translate-x-full">
          <div class="pointer-events-auto flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
            <div class="<%= heading_background_styles %> px-4 py-6 sm:px-6">
              <div class="flex items-center justify-between">
                <h2 class="text-base font-semibold leading-6 <%= heading_text_styles %>" id="slide-over-title"><%= heading %></h2>
                <div class="ml-3 flex h-7 items-center">
                  <button type="button" class="rounded-md focus:outline-none focus:ring-2 <%= heading_button_styles %>"
                          data-action="reveal#hide">
                    <span class="sr-only">Close panel</span>
                    <%= render Initforthe::IconComponent.new(icon: 'x-mark', source: :heroicon, variant: :outline) %>
                  </button>
                </div>
              </div>
              <% if intro %>
                <div class="mt-1">
                  <p class="text-sm <%= heading_intro_styles %>"><%= intro %></p>
                </div>
              <% end %>
            </div>
            <div class="relative flex-1">
              <%= content %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
