<div class="py-6 px-4">
  <%= form_with model: User.new, url: '/' do |f| %>
    <div class="space-y-6">
      <%= vc_input_group(f: f, name: :name) do |c| %>
        <%= vc_text_field(f: c.f, name: c.name) %>
      <% end %>
      <%= vc_input_group(f: f, name: :email) do |c| %>
        <%= vc_email_field(f: c.f, name: c.name) %>
      <% end %>
      <%= vc_input_group(f: f, name: :number) do |c| %>
        <%= vc_number_field(f: c.f, name: c.name) %>
      <% end %>
      <%= vc_input_group(f: f, name: :password) do |c| %>
        <%= vc_password_field(f: c.f, name: c.name) %>
      <% end %>
      <%= vc_input_group(f: f, name: :telephone) do |c| %>
        <%= vc_telephone_field(f: c.f, name: c.name) %>
      <% end %>
      <%= vc_input_group(f: f, name: :file) do |c| %>
        <%= vc_file_field(f: c.f, name: c.name) %>
      <% end %>
      <%= vc_input_group(f: f, name: :search) do |c| %>
        <%= vc_search_field(f: c.f, name: c.name) %>
      <% end %>
      <%= vc_input_group(f: f, name: :datetime) do |c| %>
        <%= vc_datetime_field(f: c.f, name: c.name) %>
      <% end %>
      <%= vc_input_group(f: f, name: :time) do |c| %>
        <%= vc_time_field(f: c.f, name: c.name) %>
      <% end %>
      <%= vc_input_group(f: f, name: :country) do |c| %>
        <%= vc_country_select(f: c.f, name: c.name) %>
      <% end %>
      <%= vc_input_group(f: f, name: :select) do |c| %>
        <%= vc_select(f: c.f, name: c.name, options: [['Option A', 'a',], ['Option B', 'b']]) %>
      <% end %>
      <%= vc_input_group(f: f, name: :richtext) do |c| %>
        <%= vc_rich_text_area(f: c.f, name: c.name) %>
      <% end %>
      <%= vc_input_group(f: f, name: :text_area) do |c| %>
        <%= vc_text_area(f: c.f, name: c.name) %>
      <% end %>
      <%= vc_input_group(f: f, name: :check_box, show_label: false) do |c| %>
        <%= vc_check_box(f: c.f, name: c.name) %>
      <% end %>
      <%= vc_input_group(f: f, name: :radio) do |c| %>
        <div class="mt-2 space-y-4">
          <%= vc_radio_button(f: c.f, name: c.name, value: 1) %>
          <%= vc_radio_button(f: c.f, name: c.name, value: 2) %>
          <%= vc_radio_button(f: c.f, name: c.name, value: 3) %>
        </div>
      <% end %>
      <%= vc_input_group(f: f, name: :check_box_tab) do |c| %>
        <div class="mt-2 flex flex-wrap gap-3">
          <%- %w[check box tab].each_with_index do |option, index|%>
            <%= vc_check_box_tab f:, name: :hobbies, checked_value: option, unchecked_value: nil,
                                 label: option.capitalize,
                                 field: { multiple: true, checked: f.object.hobbies.include?(option) } %>
          <% end %>
        </div >
      <% end %>
      <%= vc_input_group(f: f, name: :toggle, show_label: false) do |c| %>
        <%= vc_toggle_switch(f: c.f, name: c.name) %>
      <% end %>
    </div>
  <% end %>
</div>
