<div class="py-6 px-4 space-y-8">
  <% [:primary, :secondary, :soft, :confirm, :danger].each do |type| %>
    <div class="flex gap-x-4 items-center">
      <% [:xs, :sm, nil, :md, :lg].each do |size| %>
        <div>
          <%= vc_button(text: 'Do Action', size: size, type: type) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
