<div class="<%= 'mt-1' if label %> relative <%= wrapper_class %>">
  <%= f.send method_name, name, { class: input_class }.merge(field).merge(html) %>
  <% if f.object&.errors&.key? name %>
    <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
      <%= render Initforthe::IconComponent.new(icon: 'exclamation-circle', source: :heroicon, variant: :solid, classes: 'text-red-500') %>
    </div>
  <% end %>
</div>
