<div class="flex items-start">
  <div class="flex items-center h-5">
    <%= f.check_box name, field.merge(html).reverse_merge(class: "#{input_class} transition duration-150 ease-in-out"), checked_value, unchecked_value %>
  </div>
  <div class="ml-3 text-sm leading-5">
    <%= f.label label_identifier, label, class: 'font-medium text-gray-700' %>
    <% if help_text %>
      <p class="text-gray-500"><%= help_text %></p>
    <% end %>
  </div>
</div>
