<div class="flex items-start">
  <div class="flex items-center h-5">
    <%= f.radio_button name, value, field.merge(html).reverse_merge(class: "#{input_class} transition duration-150 ease-in-out") %>
  </div>
  <div class="ml-3 text-sm leading-5">
    <%= f.label name, label, class: 'font-medium text-gray-700', value: value %>
    <% if help_text %>
      <p class="text-gray-400"><%= help_text %></p>
    <% end %>
    <% if hint %>
      <div class="prose-sm text-gray-400"><%= hint %></div>
    <% end %>
  </div>
</div>
