<%
  html.reverse_merge!(
    class: "block w-full pl-3 pr-10 py-2 text-base leading-6 border-gray-300 rounded-md focus:outline-none sm:text-sm sm:leading-5 #{f.object&.errors&.attribute_names&.include?(name) ? error_classes : normal_classes }"
  )
%>
<div class="relative mt-1 rounded-md shadow-sm">
  <%= f.select name, options, field, html %>
  <% if f.object&.errors&.attribute_names&.include? name %>
    <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
      <svg class="w-5 h-5 text-red-500" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path>
      </svg>
    </div>
  <% end %>
</div>
