<!-- requires toggle-switch controller --->
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex items-end justify-between"
     data-controller="toggle-switch"
     data-toggle-switch-initial-value="<%= field[:value] %>"
     data-toggle-switch-checked-value="<%= checked_value %>"
     data-toggle-switch-unchecked-value="<%= unchecked_value %>"
     data-toggle-switch-button-enabled-classes-value="<%= button_enabled_classes %>"
     data-toggle-switch-button-disabled-classes-value="<%= button_disabled_classes %>"
     data-toggle-switch-span-enabled-classes-value="<%= span_enabled_classes %>"
     data-toggle-switch-span-disabled-classes-value="<%= span_disabled_classes %>"
  >
 <div class="flex justify-between">
    <div>
      <%= f.label label_identifier, label, class: 'mr-3 text-sm font-medium text-gray-700' %>
      <% if help_text %>
        <p class="text-gray-500 text-xs mt-1"><%= help_text %></p>
      <% end %>
    </div>
    <%= f.check_box name, field.merge(html).reverse_merge(class: "transition duration-150 ease-in-out hidden", data: { toggle_switch_target: "element" }), checked_value, unchecked_value %>
    <!-- By default Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
    <button type="button"
            data-toggle-switch-target="button"
            data-action="click->toggle-switch#toggle"
            name="<%= f.object.present? ? "#{f.object.class&.name&.underscore}[#{name}]" : name %>"
            class="disabled:cursor-wait bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            role="switch"
            aria-checked="false"
            aria-labelledby="availability-label"
            aria-describedby="availability-description">
      <!-- By default Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
      <span aria-hidden="true" class="translate-x-0 pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"></span>
    </button>
  </div>
</div>
